
# IntelliJ
*.iml
.idea/

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log/OS Files
*.log

# OSX
.DS_Store

# Project
gameface-realease/
.kotlin/

# VS Code
.vscode/
Android/app/src/main/java/com/google/projectgameface/HeadBoard.code-workspace
